<h2>#<%= tag.name %></h2>

<h4>Articles associated with #<%= tag.name %></h4>

<% tag.articles.forEach(function(article) { %>
  <div>
    <a href="/articles/<%=article.id%>">
      <%= article.title %>
    </a>
  </div>
<%});%>

<a class="btn btn-warning" href="/tags/edit/<%=tag.id%>">
  Edit this tag
</a>
<a class="btn btn-danger delete-btn" href="/tags/<%=tag.id%>">
  Delete this tag
</a>
