<h1>All About <%= author.name %></h1>

<div class="row">
  <div class="col-6">
    <img src="<%= author.image %>" alt="">
  </div>
  <div class="col-6">
    <h3><%= author.name %>'s Bio'</h3>
    <p>
      <%= author.bio %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Articles written by <%= author.name %></h3>
    <% author.articles.forEach( article => { %>
      <div>
        <a href="/articles/<%= article.id %>"><%= article.title%></a>
      </div>
    <% }); %>
  </div>

</div>
